 

 #welcome_header, #success_header{
 	width: 70%;
 	padding-left:15%;
 	font-family:arial;
 	padding-top:5%;
 	padding-bottom: 30px;
 }

 a{
 	font-family: arial;
 	font-size: 25px;
 	padding-left: 40px;
 	padding-right: 40px;
 	margin-left:30%;
 	margin-top: 50px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	color:white;
	background-color:#5e2da3;
	text-decoration: none;
}

.duplicate{
	height:45px;
	color:#ffffff;
	background-color:#5e2da3;
}
.ui-dialog{
	top: 10px !important;
}

.ui-dialog-titlebar{
	background-color:#5e2da3 !important;
}
.create_new{
	margin:10px;
}
.back_home {
	margin-left:5px;
	font-size:12px;
	
}


#search_form {
	padding-top: 40px;
	padding-left:5%;
}

.myfieldclass{
	left:15%;

}

h3, h4{
	font-family: arial;
	color:#5e2da3;
}

label{
	font-family: arial;
}

#data_key{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20px;
}

ul li{
	display:inline;
}

#submit_filter {
	color:#ffffff;
	font-size: 20px;
	padding-left: 28px;
	padding-right: 28px;
	background-color:#5e2da3;
	margin-bottom: 20px;
	margin-left:30%;
}

#opener {
	color:#ffffff;
	font-size: 20px;
	background-color:#5e2da3;
	margin-bottom: 20px;
	margin-left:30%;
}

#search_results {
	border-color:#000000;
	border-collapse: collapse;
}

.edit_fields{
	height:45px;
}