{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tax_photo_entry/style.css' %}" />
<html>
	<body>
		<h1 id="success_header">This Entry has been Successfully Changed</h1>
		<p><a href="{% url 'welcome_view' %}">Return Home</a></p>
		<br><br>
		
		
	</body>
</html>