{% load staticfiles %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static 'tax_photo_entry/tax_photo_entry.js' %}" type="text/javascript" ></script>
<script src="{% static 'tax_photo_entry/edit_js.js' %}" type="text/javascript" ></script>
<link rel="stylesheet" type="text/css" href="{% static 'tax_photo_entry/style.css' %}" />

<html>
<head>   
	<title>Create and Edit Entries</title>
      <script>
        $(function() {
            $( "#create_new_dialog" ).dialog({
               autoOpen: false, 
               width: 580,
               height:520,  
            });
         });
      </script>
</head>
<body>
<p><a class = "back_home" href="{% url 'welcome_view' %}">Return Home</a></p>
</br></br>
<div id="filter_form">
	<ul>
		<div>
		<li><label for='borough'>Bourough:</label>
		<input id='borough' type='text' name='borough'/></li>
		<li><label for='block'>Block:</label>
		<input id='block' type='text' name='block'/></li>
		<li><label for='lot'>Lot:</label>
		<input id='lot' type='text' name='lot'/></li>
		<li><label for='building_number'>Building Number:</label>
		<input id='building_number' type='text' name='building_number'/></li>
		<li><label for='street_name'>Street Name:</label>
		<input id='street_name' type='text' name='street_name'/></li>
		<li><label for='zip_code'>Zip Code:</label>
		<input id='zip_code' type='text' name='zip_code'/></li>
		</div>
	</ul>
	<button id='submit_filter'>Search</button>
</div>
<div id="create_new_dialog" title="Create a New Entry">
	Enter the Following Fields to Create a New Entry</br>
	<label>Borough:</label>
	<input style="width:150px;" class="create_new" id="new_borough" name="new_borough" type="text"></br>
	<label>Block:</label>
	<input style="width:70px;"class="create_new" id="new_block" name="new_block" type="text">
	<label>Lot:</label>
	<input style="width:70px;" class="create_new" id="new_lot" name="new_lot" type="text">
	<label>Building Number:</label>
	<input style="width:70px;" class="create_new" id="new_building_number" name="new_building_number" type="text">
	<label>Street Name:</label>
	<input class="create_new" id="new_street_name" name="new_street_name" type="text"></br>
	<label>Landmark Name:</label>
	<input class="create_new" id="new_landmark_name" name="new_landmark_name" type="text"></br>
	<label>Zip Code:</label>
	<input class="create_new" id="new_zip_code" name="new_zip_code" type="text"></br>
	<label>Lot Frontage:</label>
	<input style="width:130px;" class="create_new" id="new_lot_frontage" name="new_lot_frontage" type="text">
	<label>Lot Depth:</label>
	<input style="width:130px;" class="create_new" id="new_lot_depth" name="new_lot_depth" type="text"></br>
	<label>Year Built:</label>
	<input style="width:100px;" class="create_new" id="new_year_built" name="new_year_built" type="text">
	<label>Date:</label>
	<input style="width:100px;" class="create_new" id="new_date" name="new_date" type="text"></br>
	<label>Year Altered One:</label>
	<input style="width:100px;" class="create_new" id="new_year_altered_one" name="new_year_altered_one" type="text">
	<label>Year Altered Two:</label>
	<input style="width:100px;" class="create_new" id="new_year_altered_two" name="new_year_altered_two" type="text"></br>
	<label>Photo Identifier:</label>
	<input class="create_new" id="new_photo_identifier" name="new_photo_identifier" type="text"></br>
	<label>Coverage Name:</label>
	<input class="create_new" id="new_coverage_name" name="new_coverage_name" type="text"></br>
	<label>Description:</label>
	<input style="width:200px; height:200px;" class="create_new" id="new_description" name="new_description" type="text"></br>
	<label>Notes:</label>
	<input style="width:200px; height:200px;" class="create_new" id="new_notes" name="new_notes" type="text"></br>
	<input onclick="createNew()" id="submit_create_new" type="submit" value="Submit">
</div>
<button onclick="createDialogForm(null)" id="opener">Create New</button>

<table border = '.0001' id ='search_results'>
	{% csrf_token %}

</table>


</body>
</html>