
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tax_photo_entry/style.css' %}" />
<html>
	<body>
		<h1 id="success_header">This entry was not found</h1>
		<p><a href="{% url 'get_lot' %}">Search Again</a></p>
		
	</body>
</html>