{% load staticfiles %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script src="{% static 'tax_photo_entry/delete.js' %}" type="text/javascript" ></script>
<link rel="stylesheet" type="text/css" href="{% static 'tax_photo_entry/style.css' %}" />

<html>
<head>
	<title></title>
</head>
<body>
	<p><a class = "back_home" href="{% url 'welcome_view' %}">Return Home</a></p>
	
    <h1>You are not authorized for this action</h1>


</body>
</html>