{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tax_photo_entry/style.css' %}" />
<p><a class = "back_home" href="{% url 'welcome_view' %}">Return Home</a></p>
<div id = "search_form">
<h3>Select a CSV File to Upload</h3>
	<form  enctype="multipart/form-data" method="post" action="">
	
			{% csrf_token %}
			{{form.as_p}}
	
		<input type = "submit" value = "Submit" />
	</form>
	
	
	</div>