
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tax_photo_entry/style.css' %}" />
<html>
	<body>
		<h1 id="success_header">Upload Successful</h1>
		<p><a href="{% url 'welcome_view' %}">Return Home</a></p>
		<br><br>
		<p><a href="{% url 'upload_file' %}">Upload Another File</a></p>
		
	</body>
</html>