
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tax_photo_entry/style.css' %}" />
<html>
	<body>
		<h1 id="welcome_header">Welcome to the Tax Photo Data Entry Application</h1>
		<p><a href="{% url 'filter_search' %}">Create and Edit Entries</a></p>
		<br><br>
		<p><a href="{% url 'user_logout' %}">Logout</a></p>

		{% if can_delete %}

				<br><br>
				<p><a href="{% url 'marked_for_delete' %}">Confirm Deletions</a></p>
			
		{% endif %}
		
	</body>
</html>